/* Main CSS */
/* By: Rvjq */

/*   Frame   */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #1c1c1c;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  min-height: 300vh;
  object-fit: cover;
}

li {
  padding: 4px;
}

.content {
  position: absolute;
  padding: 0px; 
  background-color:rgba(34, 34, 34, 0.97);
  border-radius:15px;
  width: 90%; 
  height: auto;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}

.container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-align: center;
}

::selection {
  text-shadow: none;
  color: #111;
  background-color: #fff;
}

.profile-pic {
  object-fit: none;
  margin: 10px;
  min-height: 0px;
  min-width: 0px;
  width: 310px;
  border-color: #fff;
  border-style: dashed;
  border-width: 5px;
  height: 310px;
  border-radius: 50%;
}

.profile-text {
  display:inline-block;
  margin: 10px;
  width: 310px;
  text-align: center;
}

/*   Nav Bar   */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px 30px 20px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: white;
  font-size: 16px;
  z-index: 2;
  &.mask {
    top: 0px;
    mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-image: linear-gradient(black 70%, transparent);
  }
  &.mask-pattern {
    top: 300px;
    mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
    mask-size: auto 30px, 100% 100%;
    mask-repeat: repeat-x, no-repeat;
    mask-position: left bottom, top left;
    
    -webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
    -webkit-mask-size: auto 30px, 100% 100%;
    -webkit-mask-repeat: repeat-x, no-repeat;
    -webkit-mask-position: left bottom, top left;
  }

  @media (min-width: 640px) {
    padding: 16px 50px 30px 50px;
  }
}
nav.is-hidden {
  transform: translateY(-100%);
}
.navtitle {
  color: inherit;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.navtext {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  opacity: 100%;
  padding: 0;
}
.list {
  list-style-type: none;
  margin-left: auto;
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
  li {
    margin-left: 20px;
  }
}

/* Textos Coloridos */

.text.tittle {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  border-radius: 15px;
  border-style: dashed;
  padding: 30px 0px 30px 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 100%;
}
.text.tittle.orange {
  color: #F76004;
}

.text.big {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}

.text.small {
  font-size: 15px;
}

.text {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}
.text.orange {
  color: #F76004;
  margin: 0;
}


/* Textos Destacados */
.highlight {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  background: #111;
}
.highlight.orange {
  background: #F76004;
}

/* Links */

.link2 {
	color: #fff;
  position: relative;
  text-decoration: none;
}

.link2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.link2:hover::before {
  text-decoration: none;
  transform-origin: left;
  transform: scaleX(1);
}

.link {
  position: relative;
  text-decoration: underline;
  display: inline-block;
  color: inherit;
  padding: 0 1px;
  transition: color ease 0.3s;
  opacity: 100%;
}
.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 6%;
  min-height: 2px;
  left: 0;
  bottom: 0;
  background-color: #222;
  transition: all ease 0.3s;
}
.link:hover {
  color: #111;
}
.link:hover:after {
  background: #fff;
  height: 100%;
}

.link.light:after {
  background-color: #fff;
}
.link.light:hover {
  background-color: #fff;
}
.link.light:hover::after {
  background: #111;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px 30px 20px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: white;
  font-size: 16px;
  z-index: 2;
  &.mask {
    top: 0px;
    mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-image: linear-gradient(black 70%, transparent);
  }
  &.mask-pattern {
    top: 300px;
    mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
    mask-size: auto 30px, 100% 100%;
    mask-repeat: repeat-x, no-repeat;
    mask-position: left bottom, top left;
    
    -webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
  }
}


ul {
  list-style-type: none;
  display: block;
}

ul li {
  width: auto;
  display: inline-block;
  padding: 10px;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 100px;
  margin-top: 10px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}